{% extends 'base.html' %}

{% block content %}


{% if user.is_authenticated %}
{% csrf_token %}

    <h3>Customer records are going to diaply here</h3>

{% else %}
<div class="col-md-5 offset-md-4">
    <h3>Sign In</h3><br/>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control">
        </div><br/>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>

{% endif %}
{% endblock %}